# Eclipse
.project
.settings
.classpath
.externalToolBuilders

# IntelliJ
.idea
*.iml
*.tmp

# Maven
*.mvn/*
!*.mvn/wrapper*
target

# XCode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
DerivedData
*.xcworkspace
xcuserdata
profile
*.hg
/.hg/*
dist/

# Other
.DS_Store
.history
*.swp
.factorypath
*.log
*.log*.gz
